@page
@using App.Core.Constants
@using Sophie.Areas.Admin.ShopPage

@model Sophie.Areas.Admin.ShopPage.CreateTransportPromotionModel
@{
    ViewData["Title"] = "Create TransportPromotion Page";
    ViewData["NameActivePage"] = NavigationPages.Create_TransportPromotion;
}

@section Styles {
<style>
    .selected {
        background-color: #cff4d6 !important;
    }
</style>
<!-- DataTables -->
<link rel="stylesheet" href="~/lib/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="~/lib/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="~/lib/plugins/toastr/toastr.min.css">
<!-- summernote -->
<link rel="stylesheet" href="~/lib/plugins/summernote/summernote-bs4.css">

}
@await Html.PartialAsync("~/Areas/Admin/Shared/_StatusMessage.cshtml", Model.StatusMessage)

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.Content Header -->
<!-- Main content -->
<section class="content" style="padding: 0px 0px 0px 0px !important">
    <div class="row">
        <div class="col-12">
            <!-- left column -->
            <div class="col-md-6">
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
            </div>
            <!--/.col (right) -->

            <form id="quickForm" role="form" asp-page-handler="Create" method="post" enctype="multipart/form-data">
                <!-- CARD TABLE-->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Create new transportPromotion</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Shop</label>
                                    <select name="ShopId" class="form-control">
                                        @foreach (var item in Model.ListShop)
                                        {
                                            <option value="@item.ShopId">@item.ShopName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>TransportPromotionName</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." id="TransportPromotionName" name="TransportPromotionName" value="@Model.TransportPromotion?.TransportPromotionName">
                                </div>
                                <div class="form-group">
                                    <label>TransportPromotionCode</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." id="TransportPromotionCode" name="TransportPromotionCode" value="@Model.TransportPromotion?.TransportPromotionCode">
                                </div>
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." id="Title" name="Title" value="@Model.TransportPromotion?.Title">
                                </div>


                                <div class="form-group">
                                    <label>StartDate</label>
                                    <div class="input-group date">
                                        <input id="StartDate" name="StartDate" value="@Model.TransportPromotion?.StartDate.ToString("dd/MM/yyyy")" type="text" class="form-control pull-right datepicker">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>EndDate</label>
                                    <div class="input-group date">
                                        <input id="EndDate" name="EndDate" value="@Model.TransportPromotion?.EndDate.ToString("dd/MM/yyyy")" type="text" class="form-control pull-right datepicker">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>TypePay</label>
                                    <select class="form-control" id="TypePay" name="TypePay" value="@Model.TransportPromotion?.TypePay">
                                        @foreach (var item in Model.ListTypePay)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <!-- text input -->
                                <div class="form-group" hidden>
                                    <label>TransportPromotionId</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." id="TransportPromotionId" name="TransportPromotionId" value="@Model.TransportPromotion?.TransportPromotionId">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>TransportPromotionQuantity</label>
                                    <input type="number" class="form-control" placeholder="Enter ..." id="TransportPromotionQuantity" name="TransportPromotionQuantity" value="@Model.TransportPromotion?.TransportPromotionQuantity">
                                </div>
                                <div class="form-group">
                                    <label>MinBuget</label>
                                    <input type="number" class="form-control" placeholder="Enter ..." id="MinBuget" name="MinBuget" value="@Model.TransportPromotion?.MinBuget">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="number" class="form-control" placeholder="Enter ..." id="Price" name="Price" value="@Model.TransportPromotion?.Price">
                                </div>
                                <div class="form-group">
                                    <label>MaxPriceDiscount</label>
                                    <input type="number" class="form-control" placeholder="Enter ..." id="MaxPriceDiscount" name="MaxPriceDiscount" value="@Model.TransportPromotion?.MaxPriceDiscount">
                                </div>
                                <div class="form-group">
                                    <label>Discount</label>
                                    <input type="number" min="0" max="100" class="form-control" placeholder="Enter ..." id="Discount" name="Discount" value="@Model.TransportPromotion?.Discount">
                                </div>
                                <div class="form-group">
                                    <label>TypeDiscount</label>
                                    <select class="form-control" id="TypeDiscount" name="TypeDiscount" value="@Model.TransportPromotion?.TypeDiscount">
                                        @foreach (var item in Model.ListTypeDiscount)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Type</label>
                                    @*<input type="text" class="form-control" placeholder="Enter ..." name="Type" value="@Model.TransportPromotion?.Type">*@
                                    <select class="form-control" id="Type" name="Type" value="@Model.TransportPromotion?.Type">
                                        <option value="Actived">Actived</option>
                                        <option value="Draft">Draft</option>
                                        <option value="Trash">Trash</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input hidden type="text" class="form-control" placeholder="Enter ..." id="ShopId" name="ShopId" value="@Model.TransportPromotion?.ShopId">
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" id="btn_create_save" class="btn btn-success">@(string.IsNullOrEmpty(Model.TransportPromotion?.TransportPromotionId) ? "Create":"Update")</button>
                            <a hidden="@string.IsNullOrEmpty(Model.TransportPromotion?.TransportPromotionId)" id="delete-button" class="btn btn-danger">Delete</a>
                            <a asp-page="./CreateTransportPromotion" class="btn btn-danger">Reset</a>
                            <a asp-page="./ListTransportPromotion" class="btn btn-danger">Back to List</a>
                        </div>
                    </div>
                    <!-- /.CARD TABLE-->
            </form>
        </div>
        <!-- /.col -->
    </div>
    @if (User.IsInRole(RolePrefix.Developer) || User.IsInRole(RolePrefix.Admin) || User.IsInRole(RolePrefix.AdminSys))
    {
        <form role="form" asp-page-handler="FakeData" method="post">
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Fake Data</button>
            </div>
        </form>

        <form role="form" asp-page-handler="DeleteFakeData" method="post">
            <div class="card-footer">
                <button type="submit" class="btn btn-danger">Delete Fake Data</button>
            </div>
        </form>
    }
</section>
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button id="deleteConfirm" type="button" class="btn btn-outline-light">Save change</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.Main content -->
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<!-- DataTables -->
<script src="~/lib/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- SweetAlert2 -->
<script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="~/lib/plugins/toastr/toastr.min.js"></script>
<!-- bs-custom-file-input -->
<script src="~/lib/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/lib/plugins/summernote/summernote-bs4.min.js"></script>
<script src="~/lib/uploadfile/jquery.form.js"></script>
<script src="~/lib/uploadfile/jquery.uploadfile.min.js"></script>
<script>
    $(function () {
        bsCustomFileInput.init();
         $('.datepicker').datepicker({
              dateFormat: "dd/mm/yy",
      autoclose: true
    });
    $("select").each((index,item)=>{
        if($(item).attr("value")){
             $(item).val($(item).attr("value")).change();
        }
    });
     let ChangeTypeDiscount = () =>{
         if($("#TypeDiscount").val() == 'TypeTransportPromotionsDiscount_1') {
        $("#Price").prop('disabled', true);
         $("#Price").val(0);
        $("#MaxPriceDiscount").prop('disabled', false);
        $("#Discount").prop('disabled', false);

    } else {
        $("#Price").prop('disabled', false);
        $("#MaxPriceDiscount").prop('disabled', true);
        $("#Discount").prop('disabled', true);
        $("#Discount").val(0);
        $("#MaxPriceDiscount").val(0);
    }
    }
     ChangeTypeDiscount();
    $("#TypeDiscount").change(()=>{
        ChangeTypeDiscount();
    });



          $('#summernote').summernote({  height: 300  });
        $("#delete-button").click(function(e){
            $('#deleteModal').modal('show');
            $('#deleteConfirm').click(function (e) {
                $('#deleteModal').modal('hide');
                window.location.href = '/Admin/ShopPage/TransportPromotion/CreateTransportPromotion?handler=Delete&transportPromotionId=' + '@Model.TransportPromotion?.TransportPromotionId';
            });
        });
    });
     function _onDelete(index, el) {
        var myFileUpload = document.getElementById("myFileUpload");
        var files = myFileUpload.files;

        @*remove file at index*@
        var fileBuffer = [];
        Array.prototype.push.apply(fileBuffer, files);
        fileBuffer.splice(index, 1);
        const dT = new ClipboardEvent('').clipboardData || new DataTransfer();
        for (let file of fileBuffer) { dT.items.add(file); }
        myFileUpload.files = dT.files;

        files = myFileUpload.files;
        console.log(files);
        $(".image_" + index).remove()
    };

    $(function () {
        @*Add text editor*@
        @* myFileUpload *@

        function readURL() {
            var $input = $(this);
            var showMyFileUpload = document.getElementById("show-myFileUpload");
            while (showMyFileUpload.firstChild) showMyFileUpload.removeChild(showMyFileUpload.firstChild);

            for (let i = 0; i < this.files.length; i++) {
                var file = this.files[i];
                console.log(file);
                var fileName = file.name;
                var fileSize = (file.size / 1024).toFixed(2);
                var fileType = file.type;

                var reader = new FileReader();
                reader.onload = function (e) {
                    @*console.log(e.target);*@
                    var li = document.createElement('li');
                    li.className = 'image_' + i;
                    li.innerHTML = '<span class="mailbox-attachment-icon has-img"><img src="' + e.target.result + '" alt="Attachment"></span>\
                        <div class="mailbox-attachment-info">\
                            <a href="#" class="mailbox-attachment-name"><i class="fas fa-camera"></i> ' + fileName + '</a>\
                            <span class="mailbox-attachment-size clearfix mt-1">\
                                <span>' + fileSize + ' KB</span>\
                                <a href="javascript:_onDelete('+ i +', this)" class="btn btn-default btn-sm float-right"><i class="fas fa-trash-alt"></i></a>\
                            </span>\
                        </div>';
                    showMyFileUpload.appendChild(li);
                }
                reader.readAsDataURL(file);
            }
        };
        $("#myFileUpload").change(readURL);
        @*libFileUpload*@
        var count = 0;
        $("#fileuploader").uploadFile({
            url: "#",
            returnType: "json",
            multiple: true,
            dragDrop: false,
            fileName: "Attachment",
            statusBarWidth: 600,
            dragdropWidth: 600,
            maxFileCount: 2,
            maxFileSize: 1000 * 1024,
            showPreview: true,
            previewHeight: "100px",
            previewWidth: "100px",
            showDelete: true,
            showDownload: true,
            showFileSize: true,
            allowTypes: "jpg,png,gif",
            acceptFiles: "image/*",
            autoSubmit: false,
            extraHTML: function () {
                var html = "<div>";
                @*html    += "<b>File tags:</b><input type='text' name='tags' value='' /> <br/>";*@
                html    += "</div>";
                return html;
            },
            customProgressBar: function (obj, s) {
                this.statusbar = $("<div class='ajax-file-upload-statusbar'></div>");
                this.preview = $("<img class='ajax-file-upload-preview' />").width(s.previewWidth).height(s.previewHeight).appendTo(this.statusbar).hide();
                this.filename = $("<div class='ajax-file-upload-filename'></div>").appendTo(this.statusbar);
                this.progressDiv = $("<div class='ajax-file-upload-progress'>").appendTo(this.statusbar).hide();
                this.progressbar = $("<div class='ajax-file-upload-bar'></div>").appendTo(this.progressDiv);
                this.abort = $("<div>" + s.abortStr + "</div>").appendTo(this.statusbar).hide();
                this.cancel = $("<div>" + s.cancelStr + "</div>").appendTo(this.statusbar).hide();
                this.done = $("<div>" + s.doneStr + "</div>").appendTo(this.statusbar).hide();
                this.download = $("<div>" + s.downloadStr + "</div>").appendTo(this.statusbar).hide();
                this.del = $("<div>" + s.deleteStr + "</div>").appendTo(this.statusbar).hide();

                this.abort.addClass("custom-red btn btn-danger");
                this.done.addClass("custom-green btn btn-success");
                this.download.addClass("custom-green btn btn-success");
                this.cancel.addClass("custom-red btn btn-danger");
                this.del.addClass("custom-red btn btn-danger");

                if (count++ % 2 == 0)
                    this.statusbar.addClass("even");
                else
                    this.statusbar.addClass("odd");
                return this;
            },
            onLoad: function (obj) {
                console.log("onLoad Widget Loaded");
            },
            onSelect: function (files) {
                for (let i = 0; i < files.length; i++) {
                    var file = files[i];
                    console.log("onSelect " + file.name + " (" + file.size + ")");
                }
                return true;
            },
            onSubmit: function (files) {
                console.log("onSubmit Submitting:" + JSON.stringify(files));
            },
            onSuccess: function (files, data, xhr, pd) {
                console.log("onSuccess Success for: " + JSON.stringify(data));
            },
            afterUploadAll: function (obj) {
                console.log("afterUploadAll All files are uploaded");
            },
            onError: function (files, status, errMsg, pd) {
                console.log("onError Error for: " + JSON.stringify(files));
            },
            onCancel: function (files, pd) {
                console.log("onCancel Canceled files: " + JSON.stringify(files));
            },
            deleteCallback: function (data, pd) {
                @*for (var i = 0; i < data.length; i++) {
                                                    },
                                                    downloadCallback: function (filename, pd) {
                                                        @*location.href = "download.php?filename=" + filename;*@
            },
            dragDropStr: "<span><b>Drag and drop files</b></span>",
            abortStr: "Abort",
            cancelStr: "Cancel",
            doneStr: "Done",
            multiDragErrorStr: "Multiple File Drag & Drop is not allowed.",
            extErrorStr: "is not allowed. Allowed extensions:",
            sizeErrorStr: "is not allowed. Allowed Max size:",
            dupateErrorStr: "is not allowed. File already exists.",
            maxFileCountErrorStr: "is not allowed. Maximum allowed files are:",
            uploadErrorStr: "Upload is not allowed",
            uploadStr: '<div class="form"><div class="btn btn-default btn-file"><i class="fas fa-paperclip"></i>Attachment</div></div>',
        });

    })
</script>
}